body{
    padding: 70px;
}

h1{
    font-size: 3em;
    font-family: 'Candal', sans-serif;
}

.jumbotron {
background-image: url("../images/cannon.jpeg");
background-size: cover;
color: #ffffff}

.navbar-inverse .navbar-nav>li>a {
    color:#fff;
}

.navbar-inverse .navbar-brand {
    color:#fff;
}